* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.todo {
  width: 100%;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
}
 */
/* .titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 95px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
} */


strong {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: black;
}

/* .listaSuperior {
  display: flex;
  justify-content: flex-end;
} */

/* .envio {
  color: black;
  background-color: #564256;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.moneda {
  color: black;
  background-color: #564256;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding-right: 15px;
} */
/* .nav-link {
  background: white;
} */
/* .menuDesplegable {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: white;
  font-size: 27px;
  color: rgb(35, 52, 207);
  border: #000 solid;
}
 */
main {
  background-color: white;
}

.div__logo {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.section__logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  align-self: flex-start;
  border-radius: 10px;
  border: 5px solid #854380;
  animation: imagenes 2s infinite;
}


/* ANIMACIONES */


/* @keyframes imagenes {
  0% {
    border-radius: 25% ;
}
25% {
    border-radius: 50%;    }
50% {
    border-radius: 75%;
}
100% {
   border-radius: 100%; 
}
} */




/* .section__logo a:hover {
  box-shadow: 0 0 2px 1px #523249;
} */
/* .p__eslogan {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: black;
} */

.section__sesion {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-self: center;
  background-color: white;
  font-size: 20px;
  color: black;
  text-decoration: none;

}

.section__carrito {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  align-self: center;
  background-color: white;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.section__sesion:hover {
  font-size: 20px;
  color: #880D1E;
}

.section__carrito:hover {
  font-size: 20px;
  color: #880D1E;
}
.input-group {
  display: flex;
  justify-content: center;
}
.form-control {
  display: flex;
  justify-content: center;
  background-color: rgb(86, 143, 218);
  font-style: italic;
}
.btn {
  background-color: #1512bd;
}


.section__destacados,
.section__vino {
  display: grid;
  grid-template-columns: 7fr 15fr 7fr;
  grid-template-rows: 3fr 15fr;
  row-gap: 15px;
  column-gap: 50px;
  grid-template-areas: "section__titulo--tercero section__titulo--tercero section__titulo--tercero"
    "vino1 p__caracteristica ul__caracteristicas";
}

.section__titulo--tercero {
  grid-area: section__titulo--tercero;
}

.vino1 {
  grid-area: vino1;
  animation: imag 5s infinite;
}
.ul__caracteristicas {
  grid-area: ul__caracteristicas;
  display: block;
  justify-self: start;
  padding: 100px 150px 100px 10px;
}

@keyframes imag {
  0% {
  opacity: 50%;
}
}

.p__caracteristica {
  grid-area: p__caracteristica;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centrar la lista de Precio y Envio */

.li__precio {
  grid-area: ul__caracteristica;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}


/* .section__titulo--secundario {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  border: 2px solid black;
  color: #880D1E;
} */

/* .section__titulo--tercero {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  border: 2px solid black;
  color: black;
} */

/* MAS VENDIDOS */

.section__vendidos {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 100px 400px;
  gap: 15px;
  grid-template-areas: "imagen h3__masVendido h3__masVendido"
    "imagen datosMasVendido datosMasVendido";
}

.masVendido {
  grid-area: imagen;
  border: 3px solid gray;
  border-radius: 20%;
  width: 500px;
  height: 500px;
}

#h3__masVendido {
  grid-area: h3__masVendido;
}

.datosMasVendido {
  grid-area: datosMasVendido;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__linkExtra {
  display: flex;
}


.redes {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 768px) {
  body {
    background-color: white;
    flex-direction: column;
/*     width: 100%; */
  }

.titulo {
    width: 100%;
  }
  #busquedas {
    width: 250px;
  }

  .titulo {
    padding-left: 5px;
    font-size: 1.9rem;
    flex-wrap: wrap;
  }

  .listaSuperior,
  .moneda {
    flex-direction: column;
    width: 100%;
  }

  .menuDesplegable,
  .div__logo,
  .p__eslogan,
  .section__carrito,
  .section__sesion {
    flex-direction: column;
    width: 100%;
  }

  .section__destacados, .section__vendidos {
    grid-template-columns: repeat(2, 1fr);
  }
  .masVendido {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 420px) {
  .todo {
    
    background-color: white;
    flex-direction: column;
    width: 100%;
  }

.titulo {
    width: 100%;
  }
  #busquedas {
  width: 100px;
}
  .titulo {
    font-size: 45px;
  }

  .listaSuperior,
  .menuDesplegable,
  .div__logo,
  .p__eslogan,
  .section__carrito,
  .section__sesion {
    flex-direction: column;
  }

  .section__destacados, .section__vendidos {
    grid-template-columns: repeat(2, 1fr);
  }
  .masVendido {
    width: 150px;
    height: 150px;
  }
}